.dialog-container {
  padding: 50px;
}

.dialog-title {
  margin-bottom: 20px;
}

.dialog-content {
  margin-bottom: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
